#header{
    height: 60px;
    background:white;
}
.container-bg
{
    overflow-x: hidden;
    background:white;
    min-height: 100vh;

    .body-cont
    {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #text
        {
            position: absolute;
            color: #094b65;
            font-size: 10vw;
            text-align: center;
            font-family: 'Rancho', cursive;

            & span
            {
                font-size: 0.20em;
                letter-spacing: 2px;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
            }
        }
        #btn
        {
            text-decoration: none;
            display: inline-block;
            padding: 8px 30px;
            background:#fff;
            color:#094b65;
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 40px;
            transform: translateY(100px);

        }
        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }
    .body-cont::before
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top,#094b65,transparent);
        z-index: 10;
    }
    .sec 
    {
        position: relative;
        padding: 100px 0px;
        background: #094b65;

    }

}

