.bg-cont{
    // background-image: url(../../public/images/airbnb-plus-scaled.jpg);
     min-height: 80vh;
    
    .bg-index{
       
        .table{
            // border-collapse: separate;
            border-radius: 20px;
            box-shadow: 5px 5px 10px $lightGray;
            overflow: hidden;
            tr{
                background:#094b65;
                color:#fff;
            }
            .cont-table{
                color: black;
                font-size: 15px;
                background: #eceaeaf5;
                

                thead{
                    vertical-align: top;
                    background-color: $lightGray;
                    th{
                        vertical-align: top;
                        border: none;
                    }
                }
        
                img{
                    width: 150px;
                    border-radius: 4px;
                }
            }
            
        }
        button{
            background-color: rgb(255,90,96);
            padding:15px 10px;
            border-radius: 50px;
            border:none;
            color:white;
        }
        button{
            &:hover{
                color: black;
            }
        }
    
        .btn{
         padding: 0 6px;   
        }
    }
}