.bg-cont{
    // background-image: url(../../public/images/airbnb-plus-scaled.jpg);
    // min-height: 100vh;
    // background-position: center;
    // background-size: cover;
    .bg-index{
       
        .table{
            // border-collapse: separate;
            border-radius: 20px;
            box-shadow: 5px 5px 10px $lightGray;
            overflow: hidden;
            tr{
                background: #ffffffa8;
            }
            .cont-table{
                color: white;
                font-size: 15px;
                background: #00000070;
                thead{
                    vertical-align: top;
                    background-color: $lightGray;
                    th{
                        vertical-align: top;
                        border: none;
                    }
                }
        
                img{
                    width: 150px;
                    border-radius: 4px;
                }
            }
            
        }
        button{
            background-color: rgb(255,90,96);
            padding:15px 10px;
            border-radius: 50px;
            border:none;
            color:white;
        }
        button{
            &:hover{
                color: black;
            }
        }
    
        .btn{
         padding: 0 6px;   
        }
    }
}