.bg-show{

    color:black;

    .apartment-container-img{
        height: 400px;

        img{
            width: 100%;
            border-radius:20px;
            height: 100%;
            object-fit: cover;
        }

    }

    .cont-description{
        ul{
            li{
                list-style: none;
                i{
                    font-size: 20px;
                    margin-right: 5px;
                }
            }
        }
    }

    a{
        color: black;
    }

}


 