.bg-show{
    color:white;

    .apartment-container-img{

        img{
            width: 100%;
            border-radius:20px;
        }
    }
    .cont-description{
        
        ul{

            li{
                list-style: none;

                i{
                    font-size: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}