// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import '~bootstrap-icons/font/bootstrap-icons.css';

@import 'login';
@import 'register';


#app{
    height: 100vh;
    background-image: url(../../public/image/notte.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .navbar{
        background:#0000008f;

        .collapse{
    
            .navbar-nav{
    
                .img-user{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
               
            }
    
        }
    }
    
}