// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
// Variables
@import 'variables';



// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'footer';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import 'login';
@import 'register';
@import 'message';

@import 'index';

@import 'home';

@import 'show';
@import 'create';

#app{

    .navbar{
        

        .collapse{
    
            .navbar-nav{
    
                .img-user{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
               
            }
    
        }
    }
    
}



