// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';



// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'footer';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import 'login';
@import 'register';


@import 'index';

@import 'home';

@import 'show';
@import 'create';

#app{
   

    .navbar{
        background:#0000008f;

        .collapse{
    
            .navbar-nav{
    
                .img-user{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
               
            }
    
        }
    }
    
}



